.App {
  /* text-align: center; */
  background: #282c34
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 40vmin;
  pointer-events: none;
  position: absolute;
  left: 120px;
  top: 100px;
  display: inline;
}

.spandiv {
  display: inline-block;
}

.App-header {
  /* background-color: #282c34; */
  height: calc(100vh - 320px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
} */
